@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lora&family=Tilt+Prism&display=swap');


html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: "DM Serif Display", serif;
    background-color: black;
    color: white;
}

p{
    position: relative;
    font-family: 'lora', serif;
    font-size: 17px;
    letter-spacing: 2px;
}

main .buttons p{
    color: black;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    height: 100px;
    z-index: 10;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 0 15px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    transition: color 0.3s ease-in-out;
}

.item:hover{
    color: red;
    border-bottom: 2px solid rgb(255, 0, 0);
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}
.label-menu{
    cursor: pointer;
    display: none;
}

.nombre{
    color: white;
    font-size: 25px;
    display: none;
}

@media (max-width: 768px){

    header{
        justify-content: space-around;
    }
    .nombre{
        display: block;
    }
    .menu{
        padding: 30px;
        margin: 0;
    }
    .label-menu{
        display: initial;
    }

    .menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #000000; 
        /*backdrop-filter: blur(3);*/  
        display: none;
        /*display: flex;*/
        text-align: center;        
    }

    .item{
        margin: 0 0 20px 0;
        width: 100%;
    }

    #menu:checked ~ .menu{
        display: initial;
    }

    .intro h3, .linea_nombre{
        display: none;
    }
}

/**************INTRO*************************/

main{
    background-image: url(../img/img_intro.jpg);
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*text-align: center;*/
    /*z-index: -1;*/
}
main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Opacidad del 50% */
    /*z-index:  1;*/
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.linea_nombre{
    position: relative;
    width: 40px;
    border-bottom: 2px solid white;
    border-radius: 50%;
    margin-top: -30px; 
    margin-bottom: 30px;
}
.intro h3{
    position: relative;
    font-size: 30px;
    /*border-bottom: 2px solid white;*/
    color: white;
}
h1{
    position: relative;
    font-size:  60px;
    font-weight: 600;
    color: rgb(255, 0, 0);
}
@media (max-width: 768px){
    h1{
        font-size: 40px;
        font-weight: 400;
    }
}



/****************ABOUT*********************/

.about{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about_nombre_foto{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3{
    color: rgb(255, 0, 0);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}

.about_foto{
    width: 300px;
    height: 330px;
    margin-bottom: 50px;
}
.about_foto img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
}

.about_texto{
    width: 500px;
    margin: 50px;
    /*border: 2px solid red;*/
}
.about_texto p{
    font-size: 22px;
    font-weight: 450;
}


@media (max-width: 768px){
    .about{
        height: auto;
        flex-direction: column;
    }
    h3{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .about_nombre_foto{
        margin: 0;
    }
    .about_texto{
        width: 80%;
    }
    .about_texto p{
        text-align: center;
    }
}

/****DESCARGAR CV***/
.button {
    position: relative;
    width: 200px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #791717;
    background-color: #ff0000;
    overflow: hidden;
  }

  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute; 
    transform: translateX(155px);
    height: 100%;
    width: 40px;
    background-color: #791717;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button:hover {
    background: #791717;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #6c1414;
  }
  
  .button:active {
    border: 1px solid #6c1414;
  }


/**********************SKILLS***********************************/

.container_tag{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.tag-list{
    width: 25rem;
    /*font-family: 'lora', serif;*/
    position: relative;
    overflow: hidden;
}
.inner{
    width: fit-content;
    display: flex;
    gap: 1rem;
    animation: loop 6s linear infinite;
}
.tag{
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #fff;
    font-size: 0.9rem;
    background-color: #ff0000;
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 
        0 0.1rem 0.2rem #00000033,
        0 0.1rem 0.5rem #0000004d,
        0 0.2rem 1.5rem #00000066;
}
.tag span{
    font-size: 1.2rem;
    color: #b1b6be;
}

.fade{
    position: absolute;
    background: linear-gradient(90deg,
    #000000, transparent 30%,
    transparent 70%, #000000);
    inset: 0;
    pointer-events: none;
}

@keyframes loop{
    0%{
        transform: translatex(0);
    }
    100%{
        transform: translateX(-50%);
    }
}


/************************PROYECTOS***************************/

.proyectos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: auto;
    margin-top: 60px;
    margin-bottom: 60px; 
}

.proyectos_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.proyectos_card{
    margin: 20px;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    background: var(--i);
    background-position: center;
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(47, 45, 45, 0.8);
    overflow: hidden;
    text-align: center;
}

@media (max-width: 768px){
    .proyectos_card{
        width: 350px; 
        height: 250px;
    }
    .content p{
        font-size: 14px;
    }
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: 0.5s;
}

.content h2, a, p{
    color: white;
    margin: 10px;
}
.content h2{
    color: red;
    font-size: 30px;
    font-weight: 500; 
}

.proyectos_card:hover .content{
    opacity:  1;
}

/***********************CONTACTO*****************************/

.contacto{
    width: 100%;
    height: auto;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.contacto form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: auto;
    background-color: white;
}


.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contacto label{
    color: #000000;
    margin-bottom: 15px;
}

.contacto input, textarea{
    width: 400px;
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #ffeded;
    border: 2px solid #faf0f0;
    color: #283629;
    outline: none;
}

.contacto input::placeholder, textarea::placeholder{
    color: #cab5b5;
}

.contacto .btn{
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    background-color: #ff0000;
    box-shadow: 0 0 20px rgb(254, 0, 0);
    cursor: pointer;
}

.contacto .btn:hover{
    background-color: #920000;
}

@media (max-width: 768px){
    .contacto input, textarea{
        width: auto;
    }
    .contacto form{
        padding: 50px 30px;
        width: 100%;
    }

    .contacto input{
        padding: 15px;
    }
}

/****************************FOOTER***************************/

footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 40vh;
    background: black;
    position: relative;
    overflow: hidden;
}

footer .bubbles{
    position: relative;
    display: flex;
    z-index: 0;
}

footer .bubbles span{
    position: relative;
    width: 5px;
    height: 80px;
    background: red;
    margin: 0 10px;
    border-radius: 6px;
    box-shadow: 0 0 0 5px rgb(187, 0, 0),
    0 0 50px red,
    0 0 100px red;
    animation: animate 15s  linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even){
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0 5px rgb(221, 214, 214),
    0 0 50px rgb(255, 255, 255),
    0 0 100px rgb(255, 255, 255);
}

@keyframes animate {
    0%{
        transform: translateY(70vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);  
    }
}

footer .footer{
    position: relative;
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
footer .footer::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    z-index: 1;
}

footer .footer ul{
    position: relative;
    display: flex;
    z-index: 2;
}
footer .footer ul li{
    position: relative;
    list-style: none;
    margin: 10px;
}
footer .footer ul li a{
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
}
footer .footer ul li a:hover{
    transform: translateY(-20px);
}
footer .footer ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100px;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}
footer .footer ul li a:hover::before{
    transform: skewX(45deg) translateX(-150px);
}

footer .derechos_autor{
    position: relative;
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: #fff;
}
